.header {
    font-size: 28px;
    color: white;
    font-weight: 900;
}
.navbar {
    border-bottom: Solid 1px Gray;
}
.nav-item {
    font-size: 20px;
}
.order {
    padding-left: 20%;
    padding-right: 20%;
}
.input {
    margin-bottom: 10px;
    width: 100%;
}
.form {
    display: block;
    align-content: center;
    margin: auto;
    width: 80%;
}
.jumbatron {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
}
.page-footer {
    margin-top: 20px;
}
.foot-link {
    color: white;
}
.choose {
    margin-top: 30vh;
}
.map {
    width: 100px;
}
@media only screen and (max-width: 600px) {
    .order {
        padding: 10px;
    }
}