.header {
    font-size: 28px;
    color: white;
    font-weight: 900;
}
.navbar {
    border-bottom: Solid 1px Gray;
}
.nav-item {
    font-size: 20px;
}
.order {
    padding-left: 20%;
    padding-right: 20%;
}
.input {
    margin-bottom: 10px;
    width: 100%;
}
.form {
    display: block;
    justify-content: cemter;
}
.jumbatron {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
}
.choose {
    margin-top: 30vh;
}