.header {
    font-size: 28px;
    color: white;
    font-weight: 900;
    background-color: navy;
}
.navbar {
    border-bottom: Solid 1px Gray;
}
.nav-item {
    font-size: 20px;
}
.order {
    padding-left: 20%;
    padding-right: 20%;
}
.input {
    margin-bottom: 10px;
    width: 100%;
    border: solid 1px Gray;
    border-radius: 5px;
    background: transparent;
}
.form {
    display: block;
    align-content: center;
    margin: auto;
    width: 100%;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
}
.reg-log-card {
    margin: auto;
    padding: 10%;
    padding-top: 5%; 
}
.jumbatron {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
    background-color: whitesmoke;
}
.page-footer {
    margin-top: 20px;
    background-color: navy;
}
.foot-link {
    color: white;
}
.choose {
    margin-top: 30vh;
}
.here-map > div > div > div > div{
    position: relative !important;
}
.here-map > div > div > div {
    position: relative !important;
}
.label {
    margin-right: 25px;
    font-size: 20px;
}
.reset {
    margin: 5px;
}
@media only screen and (max-width: 600px) {
    .order {
        padding: 10px;
    }
}